/* global styling */

body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
  }

  .question-header{
    color: red;
  }

img{
  position: absolute;
  right: 22%;
  top: 14.5%;
}

button{
  background-color: #ffbd8d;
  border-radius: 10%;
  border: none;
  box-shadow: 2.5px 2.5px grey;
  width: 19%;
  height: 2.2rem;
}

button:hover, select:hover{
  background-color: #CFFF8D;
}

ul button{
  background-color: #CFFF8D;
  border: none;
  box-shadow: none;
  color: white;
  font-size: 1.2rem;
  max-height: 100%;
  height: 100%;
  width: auto;
}

ul button:hover{
  background-color: black;
}

.hidden{
  display: none;
}

/* header */

header {
  background-color: #CFFF8D;
  height: 20%;
  padding: 0.1%;
}

.logo {
  width: auto;
  float: left;
}

#logo{
  color: azure;
  font-family: 'Silkscreen', cursive;
  font-size: 1.3rem;
  padding-left: 20%;
  font-weight: bold;
  position: relative;
  bottom: 0.2rem;
}

.list-item {
  float: right;
  margin-right: 25px;
  margin-top: 17px;
}
.list-item li {
  float: left;
  padding: 13px 13px;
  font-size: 18px;
  border-radius: 3px;
  transition: all .7s ease-in-out;
}

/* middle-container */
/* greeting card container */

.card, .game-card{
  box-shadow: 0 0 15px rgba(0,0,0,0.07);
  margin: 1rem 0;
  border-radius: 1rem;
  position: relative;
  left: 27.3%;
  width: 50%;
  background-color: white;
  z-index: 1;
  top: 4.5rem;
  height: 18rem;
}

.card h3{
  top: 3.25rem; 
  position: relative;
}

.grey-title{
  color: grey;
}

#begin-btn{
  position: relative;
  top: 4.75rem;
}

/* game card container */

.game-card{
  left: 26.5%;
  height: 17.8rem;
  top: 7rem;
} 

.scoreboard h5{
  display: inline-block;
}

.container{
  position: relative !important;
  bottom: 11rem !important;
  z-index: 10 !important;
}

#endgame-container{
  display:flex;
  justify-content: center;
  flex-direction: row;
  height: auto;
}

#question-container{
  padding-bottom: 1%;
}

#btn-container button{
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 0.75%;
  width: 8.5%;
}

/* footer */

footer{
  margin-top: auto;
   background-color: #CFFF8D;
   height: 3rem;
}

footer p{
  padding-top: 0.01%;
  font-size: 0.8rem;
}

/* .reset-btn {
  background-color: red;
} */